.webIconList  {
    display: flex;
    flex-direction: row;    
    width : 20vw;    
}
.webIcon {
    display: flex;
    align-items: center;    
    height: 33%;
    margin: 10px
}
.image  {
    width: 20px;
}     
.hidden { 
    display:none; 
}
.preview {
    background-color:#E2E2E2;
    width:20px;
    height:20px; 
    border-radius: 5px;
}
