.webIconList  {
    display: flex;
    flex-direction: row;    
    width : 20vw;    
}
.webIcon {
    display: flex;
    align-items: center;    
    height: 33%;
    margin: 10px
}
.image  {
    width: 20px;
} 
.image:hover  {
    width: 100%;  
}      